
@mixin inner($type: "home") {

    @if $type == "home" {
        width: 100%;
        margin: 0 auto;
        padding: 0 10.715%;
        box-sizing: border-box;
        max-width: calc(110rem + 21.43%);
        @include responsive("tb") {
            padding: 0px 5%;
        }
    }
    @if $type == "qiita" {
        width: 100%;
        margin: 0 auto;
        padding: 0 10.715%;
        box-sizing: border-box;
        max-width: calc(110rem + 21.43%);
        @include responsive("tb") {
            padding: 0px 5%;
        }
    }
    @if $type == "blog" {
        width: 100%;
        margin: 0 auto;
        padding: 0 10.715%;
        box-sizing: border-box;
        max-width: calc(110rem + 21.43%);
        @include responsive("tb") {
            padding: 0px 5%;
        }
    }
} 